@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<script>
  


    function GetMessage() {
        $.get("/home/ConsumeServiceBus1", function (data) {
            console.log(data);
        });
    }
</script>
}
<input type="button" onclick="GetMessage()" value="Get Message" />
